:root{
    --naples-yellow: #f2dc5dff;
    --davys-gray: #515052ff;
    --cadet-gray: #92b2b8ff;
    --jet: #333138ff;
    --columbia-blue: #aed4e6ff;
}

#ship-list {
    background-color: var(--jet);
    border-radius: 25px;
    border-color: var(--naples-yellow);
    border-style: solid;
    padding: 10px;
    display: grid;
    font-family: Orbitron;
    padding: 5vw
}

#ship-list span {
    padding: 1vw;
    transition: 100ms;
}
#ship-list span:hover {
    transition: 250ms;
    background-color: gray;
}

.hidden {
    display: none;
}
