/* Colors */
:root{
    --naples-yellow: #f2dc5dff;
    --davys-gray: #515052ff;
    --cadet-gray: #92b2b8ff;
    --jet: #333138ff;
    --columbia-blue: #aed4e6ff;
}
body {
    background-image: url("./images/space.jpg");
}

.active {
    background-color: var(--naples-yellow);
    color: black
}

/* Nav Bar */
.navbar{
    display: inline-flex;
    width: 100%;
}

a {
    transition: 250ms;
    padding: 10px;
    width: 33vw;
    text-align: center;
    background-color: rgb(156, 138, 32);
    border-radius: 25px 25px 0px 0px;
    color: white;
    font-family: Tektur, sans-serif;
    text-decoration: none;

}

a:hover {
    transition: 250ms;
    width: 35vh;
    background-color: rgb(255, 248, 209);
    color: black;
}

/* Main Elements */
body {
    background-color: var(--jet);
    color: white;
}
h1 {
    font-family: 'Orbitron', sans-serif;
}

#container {
    background-color: var(--davys-gray);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 0px 0px 25px 25px;

}

.warning {
    background-color: rgb(99, 90, 90);
    grid-column: 1 / span 2;
    padding: 10px;
    color: orange;
    font-family:  Tektur, sans-serif;
}


/* Split the list and the form adder down the middle */
#add-item {
    grid-column: 1;
}

#item-list{
    grid-column: 2;
    padding: 10px;
}

h2 {
    margin: 0;
}

/* Form Elements */

h2 {
    font-family: Tektur, sans-serif;
    font-size: 24pt;
    text-align: center;
    grid-column: 1/ span 2
}

#formShip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 15px;
    padding-left: 10px;
}

select, input[type=number] {
    font-family: tektur;
    width: 100%;
    text-align: center;
    font-size: 16pt;
    grid-column: 1/ span 2;
    border: none;
    padding: 0;
    border-radius: 25px;
    color: gray;
}

button {
    display: inline;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
}

button:hover {
    transition: 250ms;
    background-color: var(--naples-yellow);
}

/* Items in list */

.item-in-list{
    transition: 250ms;
    background-color: var(--jet);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 25px;
    border-style: solid;
    border-color: var(--naples-yellow)
}

.item-in-list:hover {
    transition: 250ms;
    background-color: rgb(65, 64, 64);
}

.item-in-list span {
    font-family: sans-serif;
    font-style: italic;
    font-kerning: 12pt;
    letter-spacing: 2px;
}
.item-in-list button {
    border: solid;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 10px;
    background-color: var(--jet);
    color: white;
}

.item-in-list button:hover {
    background-color: var(--naples-yellow);
}
