/* Colors */
:root{
    --naples-yellow: #f2dc5dff;
    --davys-gray: #515052ff;
    --cadet-gray: #92b2b8ff;
    --jet: #333138ff;
    --columbia-blue: #aed4e6ff;
}


body {
    background-color: var(--jet);
    color: white;
}

#container {
    background-color: var(--davys-gray);
    grid-template-rows: 1fr 1fr;
}