/* Colors */
:root{
    --naples-yellow: #f2dc5dff;
    --davys-gray: #515052ff;
    --cadet-gray: #92b2b8ff;
    --jet: #333138ff;
    --columbia-blue: #aed4e6ff;
}


body {
    background-color: var(--jet);
    color: white;
}

#container {
    background-color: var(--davys-gray);
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* Split the list and the form adder down the middle */
#add-item {
    grid-column: 1;
}

#item-list{
    grid-column: 2;
}
